.aw-accordion {
  .card {
	background-color: transparent;
	border-radius: 0;
	border: none;
	&:not(:last-child) {
	  border-bottom: 1px solid #ccc;
	}
  }
  .card-header {
	background-color: transparent;
	border: none;
	padding: 0;
  }
  
  .card-body {
	padding: 16px 0 28px;
  }
  h5 {
	font-weight: normal;
  }
  .btn {
	font-weight: normal;
	display: block;
	color: inherit;
	font-size: 19px;
	padding: 12px 0;
	text-align: left;
	width: 100%;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 20px;
	background-image: url(/assets/images/arr-rounded-down.svg);
	@include hover-focus{
	  text-decoration: none;
	}
	&[aria-expanded="true"] {
	  font-weight: 700;
	  background-image: none;
	}
  }
}