.aw-grid--item {
  text-align: center;
  padding: 40px 30px;
  height: 100%;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-breakpoint-up(md) {
    text-align: left;
    min-height: 290px;
  }
  h2 {
	margin-bottom: 15px;
  }
  p {
    margin-bottom: 0;
  }
}

.aw-grid--image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.aw-iconbox--description {
  font-size: 15px;
}

.aw-iconbox--round {
  width: 96px;
  height: 96px;
  border-radius: 10em;
  margin-bottom: 14px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @include media-breakpoint-up(md) {
    width: 112px;
    height: 70px;
    margin-bottom: 30px;
  }
}

.aw-ourstory--action {
  margin-top: 70px;
}