/* CIRCE FONT START */

@font-face {
  font-family: 'Circe';
  src: url('/fonts/circe/Circe-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('/fonts/circe/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/circe/Circe-ExtraLight.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/circe/Circe-ExtraLight.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 100;
}

@font-face {
  font-family: 'Circe';
  src: url('/fonts/circe/Circe-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/circe/Circe-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/circe/Circe-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/circe/Circe-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Circe';
  src: url('/fonts/circe/Circe-Light.eot'); /* IE9 Compat Modes */
  src: url('/fonts/circe/Circe-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/circe/Circe-Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/circe/Circe-Light.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
}

@font-face {
  font-family: 'Circle';
  src: url('/fonts/circe/Circe-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/circe/Circe-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/circe/Circe-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/circe/Circe-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 700;
}

@font-face {
  font-family: 'Circle';
  src: url('/fonts/circe/Circe-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/circe/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/circe/Circe-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/circe/Circe-ExtraBold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 900;
}

@font-face {
  font-family: 'Circle';
  src: url('/fonts/circe/Circe-Thin.eot'); /* IE9 Compat Modes */
  src: url('/fonts/circe/Circe-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/circe/Circe-Thin.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/circe/Circe-Thin.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 200;
}

/* CIRCE FONT END */

/* ALEO FONT START */

@font-face {
  font-family: 'Aleo';
  src: url('/fonts/aleo/Aleo-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/aleo/Aleo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/aleo/Aleo-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/aleo/Aleo-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Aleo';
  src: url('/fonts/aleo/Aleo-Light.eot'); /* IE9 Compat Modes */
  src: url('/fonts/aleo/Aleo-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/aleo/Aleo-Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/aleo/Aleo-Light.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
}

@font-face {
  font-family: 'Aleo';
  src: url('/fonts/aleo/Aleo-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/aleo/Aleo-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/aleo/Aleo-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/aleo/Aleo-LightItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Aleo';
  src: url('/fonts/aleo/Aleo-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/aleo/Aleo-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/aleo/Aleo-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/aleo/Aleo-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 700;
}

@font-face {
  font-family: 'Aleo';
  src: url('/fonts/aleo/Aleo-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/aleo/Aleo-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/aleo/Aleo-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/aleo/Aleo-BoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 700;
  font-style: italic;
}

/* ALEO FONT END */

//CENTURY GOTHIC

@font-face {
  font-family: 'CenturyGothic';
  src: url('/fonts/century-gothic/CenturyGothic.woff') format('woff'),
  url('/fonts/century-gothic/CenturyGothic.ttf') format('truetype'),
  url('/fonts/century-gothic/CenturyGothic-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/century-gothic/CenturyGothic-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/century-gothic/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}


