.aw-header {
  padding: 10px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(#ffffff, 0.5);
  //box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
  transition: 0.27s all;
  
  .btn-get--started {
    @include media-breakpoint-up(md) {
      font-size: 17px;
      width: 130px;
      padding: 11px;
    }
  }
  @include media-breakpoint-up(md) {
    padding: 18px 0;
    box-shadow: none;
  }
}

.aw-logo--fill {
  fill: #FC8562;
}

.aw-logo--shape {
  transition: 0.27s all;
}

.aw-logo {
  svg {
    width: 123px;
    height: 40px;
  }
}

.aw-logo--text {
  stroke-width: 10;
  stroke: $aw-orange;
  fill: $aw-orange;
}

.aw-nav--toggle {
  width: 48px;
  height: 48px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: transparent;
  
  svg {
    max-width: 18px;
    path {
      stroke-width: 2;
      stroke: #222222;
      transition: 0.27s stroke;
    }
    
  }
}


