.bg-cream {
  background-color: #F8F6F6;
}

.bg-cream--darker {
  background-color: #EFEDED;
}

.bg-gray {
  background-color: #E7E7E7;
}

.bg-lightgray {
  background-color: #F8F8F8;
}

.bg-darkblue {
  background-color: $aw-darkblue;
}