.bg-cream {
  background-color: #F8F6F6;
}

.bg-cream--darker {
  background-color: #EFEDED;
}

.bg-gray {
  background-color: #E7E7E7;
}

.bg-lightgray {
  background-color: #F8F8F8;
}

.bg-darkblue {
  background-color: $aw-darkblue;
}

.full-height {
  min-height: 100vh;
}


.bg-bottles {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  min-height: 150%;
  bottom: 0;
  background-image: url(/images/bottles.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 20;
}