.aw-hero {
  text-align: center;
  padding: 60px 0 0;
  .container-fluid > .row {
    min-height: 480px;
	@include media-breakpoint-up(md) {
	  min-height: 576px;
	}
  }
  h1 {
	color: #39393B;
	margin-bottom: 25px;
	@include media-breakpoint-up(md) {
	  margin-bottom: 35px;
	}
  }
  .form-control {
	text-align: center;
	width: 130px;
	@include media-breakpoint-up(md) {
	  width: 210px;
	}
  }
}

.aw-hero--form {
  margin-top: 2rem;
  .form-group {
	margin-bottom: 28px;
	@include media-breakpoint-up(md) {
	  margin-bottom: 35px;
	}
  }
}
