body {
  position: relative;
}

.container-fluid {
  max-width: 1280px;
  padding-left: 30px;
  padding-right: 30px;
  &.full-width {
	max-width: none;
	
  }
}

.page-section {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  &:nth-child(1) {
	padding-top: 105px;
	@include media-breakpoint-up(md) {
	  .row {
		min-height: 480px;
	  }
	}
	@include media-breakpoint-up(lg) {
	  padding-top: 100px;
	  .row {
		min-height: 768px;
	  }
	}
	.container-fluid > .row {
	  align-items: center;
	}
  }
  @include media-breakpoint-up(lg) {
	padding-top: 100px;
	padding-bottom: 40px;
  }
}

.aw-process {
  h2 {
	span {
	  font-weight: 400;
	  color: #B11515;
	  display: block;
	  margin-top: 5px;
	}
  }
}

.aw-process--halves {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.aw-process--title {
  position: relative;
  z-index: 1;
}

.aw-process--left {
  background-color: #F8F8F8;
}

.aw-process--right {
  background-color: #ECECEC;
}

.aw-list--checked {
  font-family: 'Aleo', sans-serif;
  list-style-type: none;
  line-height: 2;
}

.aw-reinvented {
  .container-fluid {
	position: relative;
  }
}

.svg-wrap {
  position: relative;
  z-index: 100;
  svg {
	width: 270px;
	height: auto;
	max-width: 100%;
	display: block;
  }
}

.bg-bottle--right {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 80%;
  img {
	height: 100%;
  }
}

.bg-bottle--lefttop {
  position: absolute;
  left: 0;
  top: -50px;
  text-align: center;
  width: 25%;
  img {
	max-width: 90%;
  }
}

.bg-bottle--leftbottom {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 25%;
  text-align: center;
  img {
	max-width: 80%;
  }
}