.aw-nav--mobile {
  font-weight: 700;
  z-index: 2000;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
  background-color: $aw-darkblue;
  color: #fff;
  line-height: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.27s all;
  ul {
	list-style-type: none;
  }
  li {
	a {
	  text-decoration: none;
	  display: inline-block;
	  padding: 15px 10px;
	  color: #fff;
	  line-height: 1;
	  @include hover-focus-active {
		color: #ccc;
	  }
	}
	@include media-breakpoint-up(md) {
	  display: inline-block;
	  vertical-align: middle;
	}
  }
  .btn {
	@include button-outline-variant(#fff, #fff);
	@include hover-focus-active {
	  @include button-variant(#FFFFFF, $aw-darkblue);
	  color: $aw-darkblue !important;
	}
  }
  .btn-close {
	background-color: transparent;
	border: none;
  }
}

.aw-nav--top {
  padding: 10px 0;
}

.aw-nav--middle {
  margin: 40px 0;
}

.aw-nav {
  font-size: 16px;
  font-weight: 700;
  @include media-breakpoint-up(lg) {
	font-size: 17px;
  }
  ul {
	list-style-type: none;
  }
  li {
	display: inline-block;
	vertical-align: middle;
	& + li {
	  margin-left: 24px;
	}
  }
  a {
	color: #222;
	@include hover-focus-active {
	  color: rgba(#222, 0.75);
	  text-decoration: none;
	}
  }
}

.aw-nav--link {
  position: relative;
  &.active {
	&:after {
	  content: '';
	  left: 0;
	  right: 0;
	  bottom: 0;
	  height: 3px;
	  background-color: #222;
	  display: block;
	}
  }
}

.nav-open {
  overflow: hidden;
  .aw-header {
	background-color: $aw-darkblue;
  }
  .aw-nav--mobile {
	visibility: visible;
	opacity: 1;
  }
  .aw-logo--fill {
	fill: #FFFFFF;
  }
  .aw-logo--shape {
	fill: $aw-darkblue;
  }
  .aw-logo--text {
	fill: #ffffff;
	stroke: #ffffff;
  }
  .aw-nav--toggle {
	svg {
	  path {
		stroke: #FFFFFF;
	  }
	}
  }
}