.no-padding{
  padding: 0 !important;
}
.aw-header {
  margin-top: 1.25rem;
  .aw-nav {
    text-align: right;
    font-family: 'circe-bold', sans-serif;
    font-weight: 700;
    ul {
      margin-right: 1.375rem;
      margin-bottom: 0;
      li {
        display: inline-block;
        padding-right: 1.125rem;
        a {
          text-decoration: none;
          color: #222;
          font-size: .8rem;
        }
      }
      .get-started {
        border: 2px #000 solid;
        border-radius: 10em;
        padding: 10px 23px 8px 24px;
      }
    }
  }
}

.aw-menu--nav {
  display: none;
  position: absolute;
  margin: 0;
  padding-top: 1.55rem;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #303A88;
  .aw-menu--logo{
    padding-left: 10px;
  }
  .aw-menu--cancel{
    cursor: pointer;
    padding-right: 15px;
  }
  .aw-menu--content {
    margin-top: 40px;
    text-align: center;
    font-family: 'circe', sans-serif;
    font-weight: 500;
    ul {
      padding: 0;
      margin-bottom: 0;
      li {
        padding-top: 8px;
        list-style-type: none;
        text-align: center;
        a {
          text-decoration: none;
          color: #fff;
          font-size: .8rem;
        }
      }
      .get-started {
        margin-top: 30px;
        display: inline-block;
        border: 1px #fff solid;
        border-radius: 10em;
        padding: 10px 23px 8px 24px;
      }
    }
  }
}

.aw-mobile--menu {
  position: absolute;
  z-index: 15;
  cursor: pointer;
  text-align: right;
  .aw-mobile--menu---bars {
    cursor: pointer;
    height: 14px;
    span{
      cursor: pointer;
      position: relative;
      display: block;
      height: 2px;
      width: 24px;
      background: #222;
      border-radius: 9px;
      opacity: 1;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:first-child {
        top: 0;
        transform-origin: left center;
      }
      &:nth-child(2) {
        top: 5px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      &:last-child {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
    }
  }
  .open span:first-child {
    transform: rotate(45deg);
    top: -3px;
  }

  .open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .open span:last-child {
    transform: rotate(-45deg);
    top: 10px;
  }
}
.aw-mobile--fade{
  display: none;
}
.aw-mobile--fullpage{
  display: block;
}

.aw-content {
  height: 28.625em;
  .aw-content--items {
    text-align: center;
    color: #39393b;
    letter-spacing: normal;
    h1 {
      font-size: 1.3em;
      font-family: 'circe-bold', sans-serif;
      font-weight: 700;
    }
    p {
      padding-top: 1.375em;
      font-family: 'aleo', sans-serif;
      font-weight: 500;
      font-size: .8em;
    }
    .zip-code {
      padding: 20px 0 30px 0;
      input {
        width: 9.0625em;
        height: 2.125em;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 2px #d6d6d6;
        &::placeholder {
          font-family: 'circe', sans-serif;
          font-size: .8em;
          opacity: 0.47;
          letter-spacing: normal;
          text-align: center;
          color: #626262;
        }
      }
    }
    .get-started {
      display: inline-block;
      font-family: 'circe', sans-serif;
      font-weight: 700;
      background-color: #FC8663;
      border-radius: 10em;
      padding: 8px 20px 8px 20px;
      a {
        font-size: .8em;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.main-content{
  .aw-main--content{
    .aw-content--box{
      background-color: #f8f6f6;
      .aw-content--item{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        color: #39393b;
        h2{
          padding: 0 20px 0 20px;
          font-size: 1.25em;
          font-family: 'circe-bold', sans-serif;
          font-weight: 700;
        }
        h3{
          padding-top: 14px;
          font-size: 1em;
          font-family: 'circe-bold', sans-serif;
          font-weight: 700;
        }
        .aw-content--oval{
          width: 96px;
          height: 96px;
          border-radius: 10em;
          background-color: #d8d8d8;
        }
        p{
          padding: 16px 9px 0 9px;
          font-size: 0.75em;
          font-family: 'aleo', sans-serif;
          font-weight: 500;
        }
        .get-started {
          display: inline-block;
          font-family: 'circe', sans-serif;
          font-weight: 700;
          background-color: #FC8663;
          border-radius: 10em;
          padding: 8px 20px 8px 20px;
          a {
            font-size: .8em;
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
    .ad-box{
      width: 100%;
      height: 231px;
      background-color: #e7e7e7;
    }
    .white-box{
      background-color: #fff;
    }
  }
}